   
@font-face {
    font-family: 'oxaniumlight';
    src: url('/oxanium_css_sheet/oxanium-light-webfont.woff2') format('woff2'),
         url('/oxanium_css_sheet/oxanium-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    color: rgb(27, 27, 27);
    text-align: center;

}

.header {
    padding: 60px;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    color: #0055ff;
    font-size: 1em;
  }

.box {
    box-shadow:
    0 0 2.8px 2.2px rgba(66, 200, 245, 0.034),
    0 0 6.7px 5.3px rgba(66, 200, 245, 0.048),
    0 0 12.5px 10px rgba(66, 200, 245, 0.06),
    0 0 22.3px 17.9px rgba(66, 200, 245, 0.072),
    0 0 41.8px 33.4px rgba(66, 200, 245, 0.086),
    0 0 100px 80px rgba(66, 200, 245, 0.12)
  ;
  
    
    
    min-height: 1000px;
    width: 50vw;
    margin: 100px auto;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    z-index: 5;
  }
  
  
body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'oxaniumlight', Fallback, sans-serif;
	font-size: 1em;
    width: 100%;
    text-align: center;
	color: rgb(29, 191, 240);
	margin: 1em auto;
	padding: 0;
  }

.center {
    font-family: 'oxaniumlight', Fallback, sans-serif;
    font-size: 1em;
    text-align: center;
    color:#0055ff;
    max-width: 800px;
    width: 50%;
    margin: 1em auto;
    position: relative;
}

#footer {
    font-family: 'oxaniumlight', Fallback, sans-serif;
    font-size: 1em;
	color: #0055ff;
	text-align: center;
	margin: 1em auto;
	width: 80%;
}

.width {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}

#footer a {
	color: #6D6E70;
}

